h1 {
  text-align: center;
}

img {
  height: 30%;
  width: 30%;
}

.special a {
  color: red;
}

.cool {
  font-weight: bold;
  font-size: 15pt;
}

.jumbotron {
  background-color: #AFEEEE;
  text-align: justify;
}

.box {
  padding: 2px;
  margin: 10px;
  background-color: #AFEEEE;
}
